.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem;
}
.App-header {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 3rem;
  color: #4f4f4f;
}

.component-label {
  display: block;
  margin-bottom: 1em;
  font-family: "PT Mono", monospace;
  font-size: 12px;
  color: #333333;
}

.component-label-light {
  color: var(--gray-400);
}

.btn-grid-3cols {
  display: grid;
  grid-template-columns: repeat(3, 18em);
  grid-auto-rows: 10em;
}
.span2 {
  grid-column: span 2;
}
.span3 {
  grid-column: span 3;
}
.btn-grid-2cols-large {
  display: grid;
  grid-template-columns: 26em 26em;
  grid-auto-rows: 10em;
}

footer {
  padding: 4rem;
  color: var(--gray-300);
}