:root {
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-700: #374151;
  --gray-800: #1f2937;

  --indigo-100: #e0e7ff;
  --indigo-200: #c7d2fe;
  --indigo-600: #4f46e5;
  --indigo-700: #4338ca;
  --indigo-900: #312e81;

  --green-100: #d1fae5;
  --green-200: #a7f3d0;
  --green-600: #059669;
  --green-900: #064e3b;

  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-600: #dc2626;
  --red-900: #7f1d1d;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.input-component {
  label {
    display: block;
    font-size: 12px;
    color: var(--gray-700);
    margin-bottom: 4px;
    &:focus {
      color: var(--indigo-600);
    }
  }

  input {
    display: block;
    width: 200px;
    padding: 18px 12px;
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    color: var(--gray-700);
    outline: none;
    &:placeholder {
      font-size: 14px;
      color: var(--gray-400);
    }
    &:hover {
      border-color: var(--gray-800);
    }
    &:focus {
      border-color: var(--indigo-600);
    }
  }

  p {
    font-size: 10px;
    color: var(--gray-400);
    margin: 4px 0 0 0;
  }
}

// _____________________________
//
// BUTTON COMPONENT
// _____________________________

button {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  background-color: var(--gray-200);
  color: var(--gray-800);
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  cursor: pointer;
}

/* Default */

button:hover {
  background-color: var(--gray-400);
}
button:focus {
  background-color: var(--gray-400);
  outline: none;
}
button.hover {
  background-color: var(--gray-400);
}

/* Outline */

.button--variant-outline {
  background-color: white;
  color: var(--indigo-600);
  border: 1px solid var(--indigo-600);
  box-shadow: none;
}
.button--variant-outline:hover,
.button--variant-outline:focus {
  background-color: var(--indigo-100);
}
.button--variant-outline.hover {
  color: var(--indigo-600);
  border: 1px solid var(--indigo-600);
  box-shadow: none;
  background-color: var(--indigo-100);
}
.button--variant-outline-hover:focus {
  background-color: var(--indigo-100);
}

/* Text */

.button--variant-text {
  background-color: white;
  color: var(--indigo-600);
  border: none;
  box-shadow: none;
}
.button--variant-text:hover {
  background-color: var(--indigo-100);
}
.button--variant-text:hover,
.button--variant-text:focus {
  background-color: var(--indigo-100);
}
.button--variant-text.hover {
  background-color: var(--indigo-100);
}

/* disable */
.disableShadow {
  box-shadow: none;
}
.disabled {
  cursor: default;
  color: var(--gray-400);
  box-shadow: none;
}
.disabled:hover,
.disabled:focus {
  background-color: var(--gray-200);
}
.button--variant-text.disabled:hover,
.button--variant-text.disabled:focus {
  background-color: white;
}

/* Icons */
i.material-icons {
  font-size: 22px;
  vertical-align: bottom;
}
.startIcon i {
  margin-right: 11px;
}
.endIcon i {
  margin-left: 11px;
}

/* Sizes */
.button--size-sm {
  padding: 6px 12px;
}
.button--size-md {
  padding: 8px 16px;
}
.button--size-lg {
  padding: 11px 22px;
}

/* Colors */
.button--color-primary {
  background-color: var(--indigo-600);
  color: white;
}
.button--color-secondary {
  background-color: var(--green-600);
  color: white;
}
.button--color-danger {
  background-color: var(--red-600);
  color: white;
}
.button--color-primary:hover,
.button--color-primary:focus {
  background-color: var(--indigo-900);
  color: white;
}
.button--color-secondary:hover,
.button--color-secondary:focus {
  background-color: var(--green-900);
  color: white;
}
.button--color-danger:hover,
.button--color-danger:focus {
  background-color: var(--red-900);
  color: white;
}
.button--color-primary.hover {
  background-color: var(--indigo-900);
  color: white;
}
.button--color-secondary.hover {
  background-color: var(--green-900);
  color: white;
}
.button--color-danger.hover {
  background-color: var(--red-900);
  color: white;
}
